body {
    background-color: #f1f1f1;
    font-family: 'Segoe UI',Helvetica,Arial,sans-serif;
    font-size: 14px;
}



.button-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    left: 275px;
    height: 350px;
    width: 250px;

}

#viewEvents {
    width: 200px;
    height: 70px;
    font-size: 16px;
    padding: 30px 20px;
    border: none;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#addEvent {
    width: 200px;
    height: 70px;
    font-size: 16px;
    padding: 30px 20px;
    border: none;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#viewContacts {
    width: 200px;
    height: 70px;
    font-size: 16px;
    padding: 30px 20px;
    border: none;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    position: relative;
    top: 100px;
    left: 275px;
    width: 250px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#eventForm {
    position: relative;
    top: -365px;
    left: 750px;
    background-color: white;
    height: 690px;
    width: 400px;
}

#inputSchedule {
    height: 600px;
    width: 350px;
    border: none;
}

#inputEvent {
    height: 60px;
    width: 350px;
    border: none;

}
#inputTime {
    position: relative;
    left: 100px;
    top: 595px;
}

#submit {
    position: relative;
    left: 170px;
    background-color: #f9f9f9;

}
#eventsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 650px;
    top: -400px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    box-sizing: content-box;
}

